Flask
Flask-Cors==4.0.0
gunicorn==21.2.0
h5py
joblib
keras
numpy
pandas
requests
scikit-learn
scipy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
